<div class="page-header".
  <h1><STRONG>All of the Statuses</STRONG></h1>
</div>
  <div id="postit">
    <%= link_to 'Post a New Status', new_status_path %>
  </div>
<% @statuses.each do |status| %>
  <div class="status hover">
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <div class="meta">
      <%= link_to time_ago_in_words(status.created_at) + " ago", status%>
      <span class= "admin"> |
        <%= link_to "Edit", edit_status_path(status) %> |
        <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>
      </span>
    </div>
  </div>
<% end %>

<br />

<div id="lowbar">
  <p>This little Rails app was created with the help from the <a href="http://teamtreehouse.com/library/build-a-simple-ruby-on-rails-application">Treehouse.com Treebook simple Rails tutorial</a>.</p>
</div>